@using WorkoutPlanner.Domain.Models;
@model WorkoutPlanner.App.Models.TrackVM
@{
    ViewBag.Title = "Track";
}
<style>
    #map {
        height: 400px;
        width: 80%;
    }

    #mapControls {
        height: 400px;
        width: 20%;
        margin: 0 auto;
    }
</style>

<h2>Track Search</h2>
@using (Html.BeginForm("SearchTrack", "Home", FormMethod.Get))
{

    @Html.Label("", "Find Track: ");
    @Html.TextBox("searchString", "");
    <br />
    @Html.Label("", "include tracks you have run:");
    @Html.CheckBox("workout");
    <br />
    @Html.Label("", "include your tracks:");
    @Html.CheckBox("creator");
    <br />
    <input type="submit" value="GO">
}

<div id="track_display">
    @if (Model.TrackSearchResult.Count != 0)
    {
        <script>
            var tracks = [];
            var locations = [];
            var comments = [];
            @foreach(Track track in Model.TrackSearchResult)
            {
                @: locations = [];
                @: comments = [];
                foreach (Location location in track.Locations)
                {
                    @:locations.push({ lat: @location.Latitude, lng: @location.Longitude});
                }
                foreach (var Comment in track.Comments)
                {
                    @:comments.push("@Comment.Text");
                }
                @:tracks.push({ "locations": locations, "name": "@track.Name", "comments": comments });
            }

            function test() {
                alert('test successful');
            }
        </script>
        <div>
            <button onclick="test()">TEST</button>
            @Html.Partial(@"../Partial/DisplayTrackMap")
        </div>
    }
    else
    {
        <div>
            @Html.Partial(@"../Partial/DrawTrackMap")
        </div>
    }
</div>